MONGODB_URI=mongodb+srv://oye88real_db_user:PneHVnaRMcOJ6zxN@rentease.gjsvlg7.mongodb.net/rentease?appName=Rentease
JWT_SECRET=rentease_super_secret_key_2024
PORT=5000
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dvtupgmpo
CLOUDINARY_API_KEY=689884889326867
CLOUDINARY_API_SECRET=_zMUJp91DxoKvsCcQD6UONl6y30